#Eclipse
.project
.pydevproject
.settings/

#virtualenv
env/
.venv

#private data for integration tests
test/integration/google_safe_browsing_api_key.txt

*.pyc

#development documentation, notes, etc.
.doc

# Distribution / packaging
dist/
*.egg-info/
