cachetools==1.1.6 ; python_version < '3'
cffi==1.8.3 ; python_version < '2.7.9'
cryptography==1.5 ; python_version < '2.7.9'
decorator==4.0.10
dnspython3==1.12.0 ; python_version >= '3'
dnspython==1.14.0 ; python_version < '3'
enum34==1.1.6 ; python_version < '2.7.9'
funcsigs==1.0.2 ; python_version < '3'
future==0.15.2
idna==2.1
ipaddress==1.0.17 ; python_version < '3'
mock==2.0.0 ; python_version < '3'
ndg-httpsclient==0.4.2 ; python_version < '2.7.9'
nose-parameterized==0.5.0
pbr==1.10.0 ; python_version < '3'
pyasn1==0.1.9 ; python_version < '2.7.9'
pycparser==2.14 ; python_version < '2.7.9'
pyOpenSSL==16.1.0 ; python_version < '2.7.9'
requests-file==1.4
requests==2.11.1
six==1.10.0
tldextract==2.0.1
validators==0.11.0