#
# This file has been updated with the following command:
#    pip-compile --output-file requirements.txt requirements.in
#
# Python version environment markers had to be re-added separately
# after the update.
#
cachetools==2.0.0; python_version < '3.2'
cffi==1.9.1; python_version < '2.7.9'           # via cryptography
cryptography==1.5.3; python_version < '2.7.9'   # via pyopenssl
decorator==4.0.10                               # via validators
dnspython==1.15.0
future==0.16.0
idna==2.1                                       # via cryptography, tldextract
ipaddress==1.0.17; python_version < '3.3'
ndg-httpsclient==0.4.2; python_version < '2.7.9'
pyasn1==0.1.9; python_version < '2.7.9'         # via cryptography
pycparser==2.17; python_version < '2.7.9'       # via cffi
pyOpenSSL==16.2.0; python_version < '2.7.9'     # via ndg-httpsclient
requests-file==1.4.1                            # via tldextract
requests==2.12.0
six==1.10.0                                     # via cryptography, pyopenssl, requests-file, validators
tldextract==2.0.2
validators==0.11.0

# The following packages are commented out because they are
# considered to be unsafe in a requirements file:
# setuptools                # via cryptography, tldextract
